@media only screen and (max-width: 1024px) {

    body {
        padding: 2% 8%;
    }

    .nav a, .login a{
        padding: 0 10px;
        justify-content: space-between;
        color: var(--text-Main-text);
        font-weight: 400;
        font-family: 'Kanit', sans-serif;
    }

    a {
        text-decoration: none;
        font-size: 16px;
    }

    
    h1{
        font-size: 36px;
        font-weight: 600;
        font-family: 'Kanit', sans-serif;
    }
    
    h2{
        font-size: 32px;
        font-weight: 500;
        font-family: 'Kanit', sans-serif;
    }
    
    h3{
        font-size: 24px;
        font-weight: 400;
        font-family: 'Kanit', sans-serif;
    }
    
    h4{
        font-size: 18px;
        font-weight: 400;
        font-family: 'Kanit', sans-serif;
    }
    h5 {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        font-family: 'Kanit', sans-serif;
    }
    
    .group-2{
        margin: 50px auto 0 auto;
    }

    .maintext img{
        top: 270px;
    }

    .group-3{
        padding: 30px;
        width: 60%;
    }

    .basic{
        height: 450px;
        top: 70px;
        left: 0;
        width: 300px;
        padding:  0 50px 0 25px;
    }

    .professional{
        height: 600px;
        width: 350px;
        margin: auto;
        border-radius: 15px;
        padding: 75px 0 0 50px;
        border: 1px solid var(--text-Primary-400);
        background-color: var(--bg-color-400);
        z-index: 1;
        color: #FFFFFF;
        list-style-type: none;
    }
    
    .teams{
        top: 70px;
        right: 0;
        height: 450px;
        width: 300px;
        padding: 0 0 0 75px;
    }

    .form{
        width: 60%;
    }

    .flex{
        gap: 10px;
    }

    .frame1654 h1{
        font-size: 32px;
    }

    .footer{
        padding: 75px 10px 0px 10px;
        gap:50px
    }
}